* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
}

#MenuSuperior {
    background-color: #303030;
    color: white;
    padding: 150px 50px;
}

#TituloSuperior {
    font-size: 60px;
}

#TextoSuperior {
    font-size: 20px;
}

#MenuInformacional {
    background-color: #F9F9F9;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

.Informacao {
    font-size: 40px;
}

span {
    font-size: 20px;
}

#Historia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 80px;
}

.TextoHistoria {
    max-width: 50%;
    margin-right: 20px;
}

#TituloHistoria {
    font-size: 40px;
    margin-bottom: 20px;
}

#TextoHistoria {
    font-size: 24px;
}

.ImagensHistoria {
    position: relative;
    width: 510px;
}

.ImagemCarrossel {
    width: 510px;
    height: 605px;
    border-radius: 35px;
    display: none;
}

.ImagemCarrossel.active {
    display: block;
}

#Formulario {
    background-color: #303030;
    color: white;
    padding: 50px 0 30px;
    text-align: center;
}

#TituloForms {
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens */
}

input {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 24px;
    border: 0;
    border-radius: 10px;
    width: 508px;
    height: 72px;
    padding-left: 20px;
    margin: 15px 0; /* Margem vertical para espaçamento */
}

button {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: bold;
    width: 286px;
    height: 74px;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: #C07212;
    cursor: pointer;
    margin-top: 20px; /* Espaçamento acima do botão */
}

button:hover {
    transform: translateY(-7px);
    transition: 0.5s;
    box-shadow: 0 5px 15px 0 #C07212;
    background-color: #492a05;
}

@media (max-width: 768px) {
    #Historia {
        flex-direction: column;
        align-items: center;
    }

    .TextoHistoria {
        max-width: 100%;
        margin: 0;
        text-align: center;
    }

    .ImagensHistoria {
        width: 100%;
    }

    input {
        width: 90%;
        margin: 15px auto;
    }

    button {
        width: 90%;
    }
}
